@use "@/styles/constants";

#footer {
    background: constants.$main-color;
    padding: 0 32px;

    #footer-container {
        max-width: constants.$max-container;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 0;

        #credits {
            display: flex;
            align-items: center;

            #profile-pic {
                border-radius: 50%;
                height: 80px;
                width: 80px;
                position: relative;
                overflow: hidden;
            }

            #credits-text {
                margin-left: 16px;
                font-family: constants.$main-font;
                font-size: 1.2rem;
                letter-spacing: 1px;
                color: constants.$accent-color;
            }
        }

        #socials {
            padding-right: 32px;
            width: 250px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .social-link {
                filter: constants.$svg-color;
                height: 40px;
                width: 40px;
                position: relative;
            }
        }
    }
}

@media (hover: hover) {
    #footer > #footer-container {
        #credits > #credits-text > #site-link:hover {
            color: constants.$accent-color-hover;
        }

        #socials > .social-link:hover {
            filter: constants.$svg-color-hover;
        }
    }
}

@media screen and (max-width: constants.$mobile) {
    #footer > #footer-container {
        flex-direction: column-reverse;

        #socials {
            padding-right: 0;
            margin-bottom: 32px;
        }
    }
}
