@use "@/styles/constants";

#navbar {
    background: constants.$main-color;
    padding: 0 32px;
    height: constants.$navbar-height;

    #navbar-container {
        max-width: constants.$max-container;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        #logo {
            display: flex;
            align-items: center;

            #logo-container {
                transform: rotate(180deg);
                height: 60px;
                width: 60px;
                position: relative;
            }

            #logo-text {
                font-family: constants.$title-font;
                color: constants.$accent-color;
                font-size: 2rem;
                letter-spacing: 2px;
                margin-left: 8px;
            }
        }

        #nav {
            display: flex;
            height: 100%;

            .nav-link {
                color: constants.$accent-color;
                font-size: 1.2rem;
                font-family: constants.$header-font;
                font-weight: bold;
                letter-spacing: 1px;
                height: 100%;
                width: 125px;
                display: block;
                text-align: center;
                line-height: constants.$navbar-height;
            }
        }
    }
}

@media (hover: hover) {
    #navbar > #navbar-container {
        #logo:hover {
            filter: brightness(80%);
        }

        #nav > .nav-link:hover {
            background: constants.$main-color-hover;
        }
    }
}

@media screen and (max-width: constants.$tablet) {
    #navbar > #navbar-container > #logo > #logo-text {
        display: none;
    }
}

@media screen and (max-width: constants.$mobile) {
    #navbar > #navbar-container > #nav {
        display: none;
    }
}
