@use "@/styles/constants";

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - constants.$navbar-height);
    width: 100%;

    #build-display {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        max-width: constants.$max-container;
        width: 100%;
        padding: 32px;
        margin: 0 auto;

        #display-header {
            background: constants.$main-color;
            padding: 32px;
            width: 100%;
            margin-bottom: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #build-name {
                color: constants.$accent-color;
                font-family: constants.$header-font;
                font-weight: bold;
                font-size: 2rem;
                letter-spacing: 2px;
            }

            #author {
                color: white;
                font-size: 1.2rem;
                font-family: constants.$main-font;
            }

            #copy-button {
                height: 50px;
                width: 50px;
                position: relative;
                filter: constants.$svg-color;
            }
        }

        #display-content {
            display: flex;
            width: 100%;

            #build-desc {
                margin-left: 12px;
                background: constants.$main-color;
                height: 787px;
                padding: 32px;
                font-family: constants.$main-font;
                font-size: 1.2rem;
                white-space: pre-wrap;
                overflow-y: scroll;
            }
        }
    }

    #loading-container {
        height: 50px;
        width: 50px;
        position: relative;
    }
}

@media (hover: hover) {
    #container > #build-display > #display-header > #copy-button:hover {
        filter: constants.$svg-color-hover;
    }
}
