// Color scheme
$main-color: #1b1b1b;
$accent-color: #006bff;
$bg-color: #292929;
$main-color-hover: lighten($main-color, 10);
$accent-color-hover: darken($accent-color, 10);

// Fonts
$main-font: "Archivo Narrow", sans-serif;
$header-font: "Poppins", sans-serif;
$title-font: "Bungee", sans-serif;

// Sizing
$max-container: 1400px;
$navbar-height: 100px;

// Utility
$outline: 0 0 3px #000;
$glow: 0 0 15px $accent-color;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;
