@use "@/styles/constants";

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Poppins:wght@400;700&family=Bungee&display=swap");

#app {
    background: constants.$bg-color;
    color: white;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: constants.$bg-color;
}

::-webkit-scrollbar-thumb {
    background: constants.$accent-color;
    height: 20px;

    &:hover {
        background: constants.$accent-color-hover;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    background: constants.$main-color;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

hr {
    border: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input,
textarea {
    border: none;
    padding: 8px 16px;
    font-family: constants.$main-font;
    color: white;

    &:focus {
        outline: none;
        padding: 6px 14px;
        border: 2px solid constants.$accent-color;
    }
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
