@use "@/styles/constants";

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Poppins:wght@400;700&family=Bungee&display=swap");

#app {
    background: constants.$bg-color;
    color: white;
    overflow-x: hidden;
}

html,
body {
    padding: 0;
    margin: 0;
    background: constants.$main-color;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

hr {
    border: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
