@use "@/styles/constants";

#class-options {
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    transform: translateY(-10px);
    width: 100%;
    box-shadow: constants.$outline;
    z-index: 99;
    background: constants.$main-color;

    .class-option {
        background: constants.$main-color;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0 16px;

        .class-text {
            color: white;
            font-family: constants.$main-font;
            font-size: 1.3rem;
            text-align: left;
            padding: 12px 0;
            margin-left: 16px;
        }
    }
}

#class-options.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

@media (hover: hover) {
    #class-options > .class-option:hover {
        background: constants.$main-color-hover;
    }
}
