@use "@/styles/constants";

#planner {
    height: calc(100vh - constants.$navbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: constants.$max-container;
    padding: 32px;

    #planner-build {
        height: 100%;
        margin-right: 32px;
    }

    #planner-content {
        background: constants.$main-color;
        box-shadow: outline;
    }
}
