@use "@/styles/constants";

#reset-modal {
    background: rgba(black, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
    z-index: 900;

    #reset-modal-content {
        background: constants.$main-color;
        padding: 32px;
        transform: translateY(10px);
        transition: transform 0.4s ease;
        box-shadow: constants.$outline;

        #reset-header {
            text-align: center;
            font-size: 1.5rem;
            font-family: constants.$header-font;
            color: constants.$accent-color;
            margin-bottom: 32px;
        }

        #reset-buttons {
            display: flex;
            justify-content: center;

            .reset-button {
                margin-right: 32px;
                background: constants.$accent-color;
                font-family: constants.$title-font;
                color: white;
                font-size: 1.2rem;
                width: 100px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

#reset-modal.show-overlay {
    opacity: 1;
    pointer-events: all;

    #reset-modal-content {
        transform: translateY(0);
    }
}

@media (hover: hover) {
    #reset-modal > #reset-modal-content > #reset-buttons > .reset-button:hover {
        background: constants.$accent-color-hover;
    }
}
