@use "@/styles/constants";

.rune-dropdown {
    position: relative;

    .dropdown-button {
        background: constants.$main-color;
        width: 100%;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;

        &:focus {
            border: 2px solid constants.$accent-color;
            padding: 6px 14px;
        }

        &:disabled {
            cursor: default;
        }

        .rune-selection {
            display: flex;
        }

        .rune-text {
            color: white;
            font-family: constants.$main-font;
            font-size: 1.3rem;
            text-align: left;
            margin-left: 16px;

            &:first-child {
                margin-left: 0;
            }
        }

        .placeholder {
            color: grey;
        }

        .dropdown-icon {
            position: relative;
            transition: transform 0.2s ease;
            height: 20px;
            width: 20px;
        }

        .rotated {
            transform: rotate(180deg);
        }
    }

    .rune-options {
        position: absolute;
        top: 40px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s ease;
        transform: translateY(-10px);
        width: 100%;
        box-shadow: constants.$outline;
        z-index: 99;
        background: constants.$main-color;
        max-height: 200px;
        overflow-y: scroll;

        .rune-option {
            background: constants.$main-color;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 0 16px;

            .rune-icon {
                margin-right: 16px;
                height: 30px;
                width: 30px;
                position: relative;
            }

            .rune-name {
                color: white;
                font-family: constants.$main-font;
                font-size: 1.3rem;
                text-align: left;
                padding: 12px 0;
            }
        }
    }

    .show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}
