@use "@/styles/constants";

#skills-page {
    width: 100%;
    background: constants.$main-color;
    flex-grow: 1;
    padding: 32px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .skills-container {
        background: constants.$bg-color;
        padding: 32px;
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }

        .skills-header {
            font-size: 1.5rem;
            font-family: constants.$header-font;
            margin-bottom: 1rem;
        }

        .skills-dropdown {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

#skills-page::-webkit-scrollbar-track {
    background: constants.$main-color;
}
