@use "@/styles/constants";

#build-panel {
    padding: 2rem;
    background: constants.$main-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: constants.$tablet) {
    #build-panel {
        pointer-events: none;
    }
}
