@use "@/styles/constants";

#gear {
    height: 500px;
    width: 350px;
    background-image: url("/images/gear-bg.jpg");
    background-size: contain;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: constants.$outline;

    .gear-button {
        position: absolute;
    }

    .active {
        box-shadow: constants.$glow;
    }

    #head {
        top: 7px;
        left: 135px;
        height: 76px;
        width: 76px;
    }

    #shoulders {
        top: 33px;
        left: 38px;
        height: 102px;
        width: 76px;
    }

    #neck {
        top: 57px;
        right: 53px;
        height: 63px;
        width: 62px;
    }

    #torso {
        top: 88px;
        left: 127px;
        height: 133px;
        width: 94px;
    }

    #hands {
        top: 151px;
        left: 8px;
        height: 101px;
        width: 75px;
    }

    #wrists {
        top: 151px;
        right: 11px;
        height: 101px;
        width: 75px;
    }

    #waist {
        top: 229px;
        left: 125px;
        height: 38px;
        width: 96px;
    }

    #left-finger {
        top: 270px;
        left: 21px;
        height: 47px;
        width: 49px;
    }

    #legs {
        top: 272px;
        left: 135px;
        height: 104px;
        width: 77px;
    }

    #right-finger {
        top: 270px;
        right: 24px;
        height: 47px;
        width: 49px;
    }

    #main-hand {
        top: 332px;
        left: 8px;
        height: 154px;
        width: 76px;
    }

    #feet {
        top: 383px;
        left: 135px;
        height: 103px;
        width: 77px;
    }

    #off-hand {
        top: 332px;
        right: 11px;
        height: 154px;
        width: 76px;
    }
}

@media (hover: hover) {
    #gear > .gear-button:hover {
        box-shadow: constants.$glow;
    }
}
