@use "@/styles/constants";

#passives {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;

    .passive-button {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        border: 1px solid constants.$accent-color;
    }
}

@media (hover: hover) {
    #passives > .passive-button:hover {
        box-shadow: constants.$glow;
    }
}
