@use "@/styles/constants";

#passives {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;

    .passive-slot {
        height: 55px;
        width: 55px;
        border: 1px solid constants.$accent-color;
        border-radius: 50%;
        position: relative;

        .image-container {
            position: relative;
            height: 100%;
            width: 100%;
        }
    }
}

@media (hover: hover) {
    #passives > .passive-button:hover {
        box-shadow: constants.$glow;
    }
}
