@use "@/styles/constants";

.skill-panel {
    position: absolute;
    bottom: 0;
    transform: translateX(calc(100% + 8px));
    right: 0;
    background: constants.$main-color;
    box-shadow: constants.$outline;
    z-index: 600;
    pointer-events: none;

    .skill-panel-container {
        padding: 24px;
        width: 500px;
        color: constants.$accent-color;

        .skill-header {
            display: flex;
            align-items: center;

            .skill-icon {
                position: relative;
                height: 50px;
                min-width: 50px;
            }

            .skill-name {
                font-size: 1.5rem;
                font-family: constants.$header-font;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-left: 12px;
            }
        }

        .separator {
            height: 2px;
            width: 100%;
            margin: 12px 0;
            background: constants.$accent-color;
        }

        .skill-description {
            font-family: constants.$main-font;
            font-size: 1.2rem;
        }

        .skill-rune {
            .rune-info {
                display: flex;
                align-items: center;

                .rune-icon {
                    position: relative;
                    height: 50px;
                    min-width: 50px;
                }

                .rune-content {
                    margin-left: 12px;

                    .rune-name {
                        font-family: constants.$header-font;
                        font-size: 1.2rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }

                    .rune-description {
                        font-family: constants.$main-font;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

.hidden {
    display: none;
}
