@use "@/styles/constants";

#skills {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;

    .skill-slot {
        height: 55px;
        width: 55px;
        border: 1px solid constants.$accent-color;
        position: relative;

        .image-container {
            position: relative;
            height: 100%;
            width: 100%;
        }
    }
}

@media (hover: hover) {
    #skills > .skill-button:hover {
        box-shadow: constants.$glow;
    }
}
