@use "@/styles/constants";

.build-card {
    display: block;
    border: 2px solid white;
    width: 100%;
    padding: 32px;
    display: flex;
    transition: transform 0.2s ease;

    .build-icon {
        height: 80px;
        width: 80px;
        margin-right: 24px;
        position: relative;
    }

    .build-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .build-name {
            font-family: constants.$header-font;
            letter-spacing: 1px;
            font-size: 1.5rem;
        }

        .build-class {
            font-family: constants.$main-font;
            font-size: 1.2rem;
        }
    }
}

@media (hover: hover) {
    .build-card:hover {
        border: 2px solid constants.$accent-color;
        transform: scale(1.01);

        .build-info {
            color: constants.$accent-color;
        }
    }
}
