@use "@/styles/constants";

#profile {
    min-height: calc(100vh - constants.$navbar-height);

    #profile-header {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.8)
            ),
            url("/images/home-bg.jpg");
        object-fit: cover;
        background-position: center;
        padding: 8rem 2rem;
        padding-bottom: 2rem;

        #header-container {
            max-width: constants.$max-container;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #username {
                font-family: constants.$main-font;
                font-size: 3rem;
                letter-spacing: 1px;
                font-weight: bold;
            }

            #logout-button {
                background: constants.$accent-color;
                padding: 0.5rem 1.5rem;
                font-family: constants.$header-font;
                font-size: 2rem;
                color: white;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
    }

    #profile-content {
        padding: 2rem;
        background: constants.$bg-color;

        #content-container {
            max-width: constants.$max-container;
            margin: 0 auto;
            background: constants.$main-color;
            padding: 2rem;
            box-shadow: constants.$outline;
            display: flex;
            flex-direction: column;
            align-items: center;

            #content-header {
                border-bottom: 2px solid white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 0.5rem;
                width: 100%;

                #header-left {
                    display: flex;
                    align-items: center;

                    #content-text {
                        font-weight: bold;
                        font-family: constants.$header-font;
                        font-size: 2rem;
                        margin-right: 1rem;
                    }

                    #loading-icon {
                        height: 24px;
                        width: 24px;
                        position: relative;
                    }

                    #menu-container {
                        position: relative;

                        #menu-button {
                            font-size: 1.2rem;
                            font-family: constants.$header-font;
                            color: white;
                            background: constants.$accent-color;
                            padding: 0.25rem 1rem;
                            display: flex;
                            align-items: center;

                            #sort-option {
                                width: 140px;
                                text-align: center;
                            }

                            #sort-icon {
                                height: 24px;
                                width: 24px;
                                position: relative;
                                margin-left: 0.5rem;
                            }
                        }
                    }
                }

                #planner-link {
                    display: flex;
                    align-items: center;
                    font-family: constants.$header-font;
                    font-size: 1.5rem;
                    color: white;
                    letter-spacing: 2px;

                    #link-icon {
                        height: 48px;
                        width: 48px;
                        position: relative;
                        margin-right: -0.25rem;
                        transition: transform 0.8s ease;
                    }
                }
            }

            #builds-list {
                margin-top: 1.5rem;
                margin-bottom: 1rem;
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }

                .build {
                    margin-bottom: 1rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            #alt-text {
                margin-top: 2rem;
                font-family: constants.$header-font;
                font-size: 2rem;
                font-weight: bold;
                letter-spacing: 1px;
                color: constants.$accent-color;
            }
        }
    }
}

@media (hover: hover) {
    #profile {
        #profile-header > #header-container > #logout-button:hover {
            background: constants.$accent-color-hover;
        }

        #profile-content > #content-container > #content-header {
            #header-left > #menu-container > #menu-button:hover {
                background: constants.$accent-color-hover;
            }

            #planner-link:hover > #link-icon {
                transform: rotate(360deg);
            }
        }
    }
}

@media screen and (max-width: constants.$mobile) {
    #profile {
        #profile-header {
            padding-bottom: 1rem;

            #header-container {
                #username {
                    font-size: 2rem;
                }

                #logout-button {
                    font-size: 1.2rem;
                }
            }
        }

        #profile-content {
            padding: 1rem;

            #content-container > #content-header {
                justify-content: center;

                #header-left {
                    flex-direction: column;

                    #content-text,
                    #menu-container {
                        margin-bottom: 1rem;
                    }

                    #loading-icon {
                        display: none;
                    }
                }

                #planner-link {
                    display: none;
                }
            }
        }
    }
}
