@use "@/styles/constants";

#profile {
    min-height: calc(100vh - constants.$navbar-height);

    #profile-header {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.8)
            ),
            url("/images/home-bg.jpg");
        object-fit: cover;
        background-position: center;
        padding: 128px 32px;
        padding-bottom: 32px;

        #header-container {
            max-width: constants.$max-container;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #username {
                font-family: constants.$main-font;
                font-size: 3rem;
                letter-spacing: 1px;
                font-weight: bold;
            }

            #logout-button {
                background: constants.$accent-color;
                padding: 8px 24px;
                font-family: constants.$header-font;
                font-size: 2rem;
                color: white;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
    }

    #profile-content {
        padding: 32px;
        background: constants.$bg-color;

        #content-container {
            max-width: constants.$max-container;
            margin: 0 auto;
            background: constants.$main-color;
            padding: 32px;
            box-shadow: constants.$outline;
            display: flex;
            flex-direction: column;
            align-items: center;

            #content-header {
                border-bottom: 2px solid white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 8px;
                width: 100%;

                #header-left {
                    display: flex;
                    align-items: center;

                    #content-text {
                        font-weight: bold;
                        font-family: constants.$header-font;
                        font-size: 2rem;
                        margin-right: 16px;
                    }

                    #loading-icon {
                        height: 24px;
                        width: 24px;
                        position: relative;
                    }

                    #menu-container {
                        position: relative;

                        #menu-button {
                            font-size: 1.2rem;
                            font-family: constants.$header-font;
                            color: white;
                            background: constants.$accent-color;
                            padding: 4px 16px;
                            display: flex;
                            align-items: center;

                            #sort-option {
                                width: 140px;
                                text-align: center;
                            }

                            #sort-icon {
                                height: 24px;
                                width: 24px;
                                position: relative;
                                margin-left: 8px;
                            }
                        }
                    }
                }

                #planner-link {
                    display: flex;
                    align-items: center;
                    font-family: constants.$header-font;
                    font-size: 1.5rem;
                    color: white;
                    letter-spacing: 2px;

                    #link-icon {
                        height: 48px;
                        width: 48px;
                        position: relative;
                        margin-right: -4px;
                    }
                }
            }

            #builds-list {
                margin-top: 1.5rem;
                width: 100%;

                .build {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

@media (hover: hover) {
    #profile {
        #profile-header > #header-container > #logout-button:hover {
            background: constants.$accent-color-hover;
        }

        #profile-content
            > #content-container
            > #content-header
            > #header-left
            > #menu-container
            > #menu-button:hover {
            background: constants.$accent-color-hover;
        }
    }
}

@media screen and (max-width: constants.$mobile) {
    #profile > #profile-header {
        padding-bottom: 16px;

        #header-container {
            #username {
                font-size: 2rem;
            }

            #logout-button {
                font-size: 1.2rem;
            }
        }
    }
}
